node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

assets/photoshop/

GameAreaWithNotes.js

firebase.js
secrets.js
HeaderStyles.js
HomeScreenStyles.js
Styles.js
